@mixin slide1 {

  &__html {
    background-color: #FFF;
  }

  &__content {
    .title {

      h1 {
        font-size: 3em;
        color: #FFF;
        margin-bottom: 0px;
      }

      h2 {
        font-size: 2em;
        color: #AAA;
        margin-top: 0px;
      }
    }

    .author {

      position: absolute;
      bottom: 50px;
      width: 100%;
      box-sizing: border-box;

      &__avatar {
        $avatar-width: 125px;
        float: left;
        width: $avatar-width;
        height: $avatar-width;
        background-image: url('img/peter-butcher.jpg');
        background-repeat: no-repeat;
        background-size: $avatar-width;
        margin-right: 25px;
        margin-bottom: 10px;
        border-radius: 50%;
      }

      &__text {
        h3 {
          font-size: 1.5em;
          margin-top: 0px;
          margin-bottom: 5px;
          color: #FFF;
        }

        p {
          margin-top: 0px;
          color: #AAA;
        }

        .social {
          color: #FFF;
          margin: 0px 0px 5px 0px;

          span {
            margin-right: 15px;
          }

          i {
            margin-right: 8px;
          }
        }
      }
    }
  }
}
