@mixin slide1 {
  &__html {
    background-color: rgb(219, 43, 87);
  }

  &__content {
    .title {
      width: 510px;
      margin: auto;

      h1 {
        font-size: 5em;
        color: #202020;
        font-weight: 700;
        width: 300px;
        line-height: 1em;
        margin-top: 75px;
        margin-bottom: 0px;
      }

      h2 {
        font-size: 2em;
        color: #202020;
        margin-top: 30px;
      }
    }
  }
}
