// ----
// Slideshow Settings
// ----

// Number of slides
$slide-count: 10;

// Tab colours (must be same as number of slides)
$c-slides: rgb(219, 43, 87) #ccc #ccc #ccc #ccc #ccc #ccc #ccc #ccc #ccc;

// Slide backgrounds (if used, must be same as number of slides, otherwise false)
$b-slides: false;

// Total duration of slide animation
$animation-duration: 1s;

// Dimensions of the slides
$slide-width: 50%;
$slide-height: 100%;

// Slide content overflow (auto or hidden)
$slide-overflow: auto;

// Slide content colours
$c-black: #101010;
$c-grey: #aaa;
$c-light-grey: #ddd;

// Other colours
$c-slide-counter-background: rgba(0, 0, 0, 0.5);
$c-slide-counter-text: rgba(255, 255, 255, 1);
$c-slide-active-label-border: rgb(212, 63, 63);
$c-slide-active-label-text: $c-black;
$c-background: #fff;
$c-text: $c-light-grey;
$c-label-text: $c-grey;
